extends ../layouts/default

block content

    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1 #{__('index.content.jumbotron.container.head')}
        p
          | #{__('index.content.jumbotron.container.text')}
        p
          a.btn.btn-primary.btn-lg #{__('index.content.jumbotron.container.button')} »
          
    .container
      .row
        .col-lg-3.sidebar(role='navigation')
          ul.nav.nav-sidebar
            li.active
              a(href='#') Action
            li
              a(href='#') First
            li
              a(href='#') Second
            li
              a(href='#') Third
            
        .col-lg-9
            if data.rentals.results.length
                each rental in data.rentals.results
                    .row
                      h2 #{rental.title}
                      p
                          | #{rental.description}
                      p
                          a.btn.btn-default(href='#') View details »
      hr
      footer
        p &copy; Company 2014