extends ../layouts/default

block intro
	.container
		h1 Sign In
		
block content
	.container
		
		if enquirySubmitted
			h3 Thanks for your registration.
		
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='login')
					.form-group(class=validationErrors.username ? 'has-error' : null)
						label Username
						input(type='text', name='username', value=formData.username, required).form-control
					.form-group
						label Password
						input(type='text', name='password', value=formData.password, required).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', value=formData.email, required).form-control
					.form-actions
						button(type='submit').btn.btn-primary Send
